.right-container {
  @include mq($max-width: 765px) {
    @include transition(.5s);
    right: -0;
    width: 100%;
  }
  .open & {
    @include mq($max-width: 765px) {
      height: 100%;
      overflow: hidden;
      position: absolute;
      right: 0;
      width: 50%;
    }
  }
}

.main-content {
  @include transition(.5s);
  box-sizing: border-box;
  color: $black;
  margin: 25px 0 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 50%;
  .loaded & {
    opacity: 1;
  }
  @include mq($max-width: 765px) {
    width: 100%;
    top: 265px;
  }
}

.heading {
  @include transition(.5s);
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  &.int {
    h2 {
      margin: 20px 0;
    }
  }
}