.loaded {
  .main-content {
    /* start 'enter' transition */
    &.ng-enter {
      /* transition on enter for .5s */
      transition: .5s;
      transition-delay: .5s;

      /* start with opacity 0 (invisible) */
      opacity: 0;
      top: 100%;
    }

    /* end 'enter' transition */
    &.ng-enter-active {
      /* end with opacity 1 (fade in) */
      opacity: 1;
      top: 0;
      @include mq($max-width: 765px) {
        top: 265px;
      }
    }

    /* start 'leave' transition */
    &.ng-leave {
      transition: .5s;
      opacity: 1;
      top: 0;
      @include mq($max-width: 765px) {
        top: 265px;
      }
    }

    /* end 'enter' transition */
    &.ng-leave-active {
      /* end with opacity 1 (fade in) */
      opacity: 0;
      top: 100%;
    }
  }
}