// base
$body: #f9f9f9;
$text: #333333;
$shadow: #d7d7d3;

// colors
$black: #000000;
$grey: #888888;
$white: #ffffff;
$dark-blue: #2c3e50;
$light-blue: #2980b9;

// buttons
$button: $dark-blue;
$button-hover: $light-blue;

// components
$border-photo: #efefef;

// social
$instagram: #458eff;
$linkedin: #007bb5;
$twitter: #55acee;
$github: #6cc644;